body {
  font-family: Verdana;
  background-color: Black;
  text-align: center;
}
h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
h1,
h2 {
  color: White;
}
.link {
  color: Aquamarine;
  font-size: 16px;
}
.details {
  font-size: 21px;
  color: Gray;
}
.copyright {
  text-align: right;
  color: Gray;
}
